.register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerBackground {
  height: 100vh;
  width: 100%;
}
.registerCard {
  padding: 20px 30px;
  position: absolute;
  top: 110px;
  background-color: var(--clr-navbar);
  border: none;
  margin: 0 20px;
}
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registerForm label {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}
.registerForm input {
  border-radius: 4px;
  width: 100%;
}

.registerSubmit {
  margin-top: 20px;
}
.link {
  float: right;
  margin-top: 20px;
}
.link:hover {
  text-decoration: underline !important;
}
