.me {
  border-radius: 50%;
  width: 200px;
  height: 220px;
  border: 3px solid var(--clr-primary);
}
.my-name {
  margin-top: 10px;
  font-weight: 300;
  font-size: 24px;
}
.my-position {
  font-weight: 200;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .me {
    width: 180px;
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .me {
    width: 160px;
    height: 180px;
  }
}
@media screen and (max-width: 420px) {
  .me {
    width: 140px;
    height: 160px;
  }
  .my-name {
    font-size: 20px;
  }
  .my-position {
    font-size: 16px;
  }
}
