.btn {
  text-align: center;
  margin-top: 10px;
}

.btn button {
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  color: var(--clr-font);
  border: 1px solid var(--clr-primary);
  margin: 0 2px;
}
.btn button.active {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  color: var(--btn-font);
  transition: var(--transition);
}
