.btn {
  text-align: center;
  margin-top: 10px;
}

.btn button {
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  margin: 0 2px;
  font-weight: 300;
}
.btn button.active {
  border-top: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  font-weight: 500;
}
