.btn {
  text-align: center;
  margin-top: 10px;
}

.btn .button {
  font-size: 14px;
  border: none;
  border-radius: 4px;
}
.btn .button:hover {
  background: none;
  color: var(--clr-primary);
  transition: var(--transition);
}
.btn .button.active {
  border-bottom: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  font-weight: 500;
}
