.btn {
  text-align: center;
}

.btn .button {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 6px 20px 6px;
  border-radius: 10px;
  padding: 4px 12px;
}
.btn .button:hover {
  background: none;
  color: var(--clr-primary);
  transition: var(--transition);
}
.btn .button.active {
  background: var(--clr-primary);
  color: var(--btn-font);
  font-weight: 500;
  transition: var(--transition);
}

