.toggle {
  display: none;
}

.openMenu {
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 22px;
  color: var(--clr-primary);
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .toggle {
    display: block;
  }
}
