.contact-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.underline {
  width: 78px;
  margin: 0 8px;
  background-color: var(--clr-primary);
}
.icon {
  font-size: 20px;
  color: var(--clr-primary);
  margin-top: -8px;
}
