.contact-section {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.contact-section img {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  background-color: var(--clr-overlay);
  width: 100%;
  height: 100%;
  top: 0px;
}
