.contact-title {
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
  }
  .underline {
    width: 78px;
    margin: 0 8px;
    background-color: var(--clr-primary);
  }
  .icon {
    font-size: 20px;
    color: var(--clr-primary);
    margin-top: -8px;
  }