.nav-center {
  position: relative;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.nav-item {
  padding: 0 20px;
  color: var(--clr-font);
  font-weight: 400;
  text-transform: uppercase;
}
.nav-item:hover {
  color: var(--clr-font);
}

@media screen and (max-width: 600px) {
  .nav-item {
    padding: 0 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .nav-items {
    position: absolute;
    top: -2px;
    right: 0;
    left: -28px;
  }
}
