.navLeft {
  font-size: 26px;
  background: -webkit-linear-gradient(#db084e, #65fcdb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 510px) {
  .navLeft {
    margin-top: -20px;
  }
}
