.footer {
  margin-top: 40px;
  width: 100%;
  background-color: #050627;
  color: var(--text-color);
}
.logo {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.logo img {
  width: 120px;
  height: auto;
}
.footer-content {
  text-align: center;
  padding-bottom: 30px;
}
.footer-content h6 {
  font-size: 14px;
}
.footer-content h5 {
  font-size: 20px;
}
.footer-contact {
  text-align: center;
  padding-bottom: 30px;
}
.copyright{
    text-align: center;
    padding-bottom: 120px;
}
.copyright h5 a{
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}
@media screen and (max-width: 640px) {
  .footer-content h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 440px) {
  .footer-content h5 {
    font-size: 16px;
  }
}
