@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

:root {
  --transition: all 0.6s ease;
  --text-color: #fff;
}
html {
  scroll-behavior: smooth;
}
.dark {
  --clr-bcg: #02040e;
  --clr-font: #fff;
  --clr-navbar: rgba(2, 4, 14, 0.8);
  --clr-primary: rgb(101, 252, 219);
  --clr-ani1: rgba(101, 252, 219, 0.8);
  --clr-ani2: rgba(101, 252, 219, 0.4);
  --clr-ani3: rgba(101, 252, 219, 0.2);
  --btn-font: #020403;
}
.light {
  --clr-bcg: #fff;
  --clr-font: #02040e;
  --clr-navbar: rgb(255, 255, 255, 0.8);
  --clr-primary: rgb(219, 8, 78);
  --clr-ani1: rgba(219, 8, 78, 0.8);
  --clr-ani2: rgba(219, 8, 78, 0.4);
  --clr-ani3: rgba(219, 8, 78, 0.2);
  --btn-font: #fff;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.2;
  transition: var(--transition);
}
section,
header {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 14px;
}
a {
  font-size: 14px;
}
@media screen and (max-width: 400px) {
  p {
    font-size: 12px;
  }
}
