.blog-item {
  background-color: transparent;
  box-shadow: rgb(128, 128, 128, 0.1) 0px 3px 8px;
  margin-bottom: 30px;
}

.blog-img {
  padding: 6px 6px 0px 6px;
  border-radius: 10px;
}

.blog-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-title {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  transition: var(--transition);
  color: var(--clr-font);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-title:hover {
  font-weight: 600;
  transition: var(--transition);
  color: var(--clr-primary);
}
.blog-divider {
  background-color: var(--clr-primary);
  width: 3px;
  height: 20px;
}
.blog-type {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.blog-type-name h6 {
  font-size: 18px;
  padding: 8px 0 0 4px;
  color: var(--clr-font);
}
.blog-date p {
  font-size: 12px;
}
