.blog-list-title {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* .blog-list-title input {
  right: 10px;
  border-radius: 10px;
  border: 1px solid var(--clr-primary);
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  color: var(--clr-font);
  width: 260px;
} */

